.MainSpotlightWrapper{
    height: 650px;
    /* border-style: dotted;
    border-color: red; */
}

.MainSpotlight{
    margin-top: 100px;
    margin-right: 10px;
    position: absolute;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding-bottom: 600px;
    max-height: 500px;
}

.Border{
    content: "";
    /* position: absolute;
    right: 0;
    top: 25%;
    height: 250px;
    width: 50%;
    border-right: 5px solid ; */
}

.MainCard{
    max-height: inherit;
    min-width: 300px;
    width: 50%;
    position: relative;
}

.MainDescription{
    max-height: inherit;
    min-width: 300px;
    width: 50%;
    text-align: right;

}

.MainDescriptionText{
    font-size: 1.3em;
    border-right: thick solid;
    border-color: #cc6c13;
    margin-left: 30px;
    padding-right: 10px;
    box-sizing: content-box;
    overflow: scroll;
    max-height: 75%;
}

.Header{
    margin-top: 0px;
    font-size: 2.3em;
}

.MainImage{
    display: block;
    max-height: 500px;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}

.PreviewImage{
    /* display: block; */
    max-height: 250px;
    max-width: 300px;
    margin-left: 20px;
}

.PreviewDescription{
    max-width: 90%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    /* border-style: dotted;
    border-color: red; */
}

.PreviewName{
    margin-top: 0px;
    font-size: 1em;
    font-weight: bold;
}

.PreviewDate{
    margin-top: -20px;
    font-size: .8em;
    font-weight: bold;
}

.PreviewDescriptionText{
    max-height: 150px;
    max-width: 100%;
    font-size: .8em;
    overflow: hidden;
}

@media screen and (max-width: 685px) {
    .MainCard {
        width: 100%;
    }
    .MainDescription{
        margin-top: 30px;
        width: 100%;
    }
    .Border{
        content: "";
        position: absolute;
        left: 0px;
        bottom: 0;
        height: 15px;
        width: 60%;
        border-bottom: 3px solid #cc6c13;
    }
    .MainSpotlightWrapper{
        height: 1080px
    }
    .PreviewImage{
        /* display: block; */
        max-height: 170px;
        max-width: 100px;
    }
    
    .PreviewDescription{
        max-width: 80%;
        margin-top: 10px;
        margin-bottom: 10px;
        /* border-style: dotted;
        border-color: red; */
    }

    .PreviewDescriptionText{
        max-height: 200px;
        max-width: 100%;
        font-size: .67em;
        overflow: hidden;
    }

    .PreviewName{
        font-size: .75em;
    }
    
    .PreviewDate{
        font-size: .75em;
    }
  }
